/*
Theme Name: inFocus
Theme URI: http://mysitemyway.com/
Description: A Mysitemyway Premium Wordpress Theme
Author: Mysitemyway
Author URI: http://mysitemyway.com/
Version: 3.9
*/

/*  TOC 
01. GENERAL TYPOGRAPHY 
02. STRUCTURE
03. MENU
04. POST LISTS & GRIDS
05. SINGULAR POSTS
06. WIDGETS & SHORTCODES
07. SLIDERS
08. PROGRESSIVE ENHANCEMENTS
09. RESPONSIVENESS & MOBILE
*/

/*
===============================================================================================================
01. GENERAL TYPOGRAPHY
=============================================================================================================== */

/* Global Reset
-------------------------------------------------------------- */
html,body,div,form,fieldset,input,textarea,h1,h2,h3,h4,h5,h6,p,ul,ol,li{vertical-align:baseline;font-size:100%;padding:0;margin:0;}
h1,h2,h3,h4,h5,h6,p,ul,ol{margin-bottom:20px;}
input,textarea{font-family:inherit;padding:4px;}
img,fieldset{border:0;}
body{letter-spacing:.1px;word-spacing:1px;line-height:20px;font-size:12px;}
a,a:hover,a:active,a:focus{text-decoration:none;outline:0 none;-moz-outline-style:none;}
ol{list-style:decimal outside;}
ul{list-style:disc outside;}
ul,ol{padding-left:25px;}
li ol,li ul{margin-bottom:0;}

/* Headers
-------------------------------------------------------------- */
h1{font-size:36px;line-height:111%;letter-spacing:.1px;}
h2{font-size:32px;line-height:125%;letter-spacing:1px;}
h3{font-size:22px;line-height:136%;letter-spacing:1px;}
h4{font-size:18px;line-height:139%;letter-spacing:1px;}
h5{font-size:16px;letter-spacing:1.6px;margin-bottom:20px;text-transform:uppercase;}
h6{font-size:12px;letter-spacing:1.6px;margin-bottom:15px;padding-bottom:5px;text-transform:uppercase;}
#content .teaser{line-height:150%;}
h4+h6{margin-top:-10px;}

/* Forms & Buttons 
-------------------------------------------------------------- */
.textfield,.password,.textarea,#s,#comment{padding:6px;background:#f9f9f9 url(images/form-gradient.gif) repeat-x -1px -2px;border-color:#d9d9d9 #eaeaea #fff;border-style:solid;border-width:1px;color:#666;}
.textarea,#comment{width:97%;height:120px;}
.textfield:focus,.password:focus,.textarea:focus,#s:focus,#comment:focus{opacity:.9;}
.textfield_label{letter-spacing:1px;text-transform:uppercase;font-size:11px;}
#submit,.call_to_action,#intro .intro_title,
.fancy_button,.button_link,#searchsubmit,.post_more_link{color:#eee;background:url(images/intro_title.png) repeat-x scroll 0 0 transparent;border-color:rgba(0,0,0,0.12) !important;border-top:none!important;border-bottom:none!important;border-left:1px solid rgba(0,0,0,0.12) !important;border-right:1px solid rgba(0,0,0,0.12) !important;padding:0 30px;height:40px;line-height:41px;display:inline-block;}
.small_button,.post_more_link,#submit{height:26px;line-height:26px;padding:0 17px;}
.medium_button{height:40px;line-height:41px;}
.large_button{height:50px;line-height:51px;padding:0 35px;height:58px;line-height:56px;}
.post_more_link:hover{text-decoration:none;color:#fff;}
.call_to_action,#intro .intro_title{display:inline-block;float:left;font-size:32px;height:58px;line-height:53px;margin:10px 50px 10px 0;padding:0 25px;}
.call_to_action{float:right;margin-top:0;margin-right:0;margin-left:30px;text-transform:none;}

/* Images & Galleria
-------------------------------------------------------------- */
.fancy_image_caption{bottom:-18px;}
.fancy_image img,#body_inner .galleria-container,.wp-caption,#content .gallery img,.single_post_image img,.post_grid_image img,.post_list_image img,
.framed,.video_frame,.mysite_flickr_widget img,.avatar,.about_author_module .avatar{background:#f5f5f5;border:1px solid #fff;padding:4px;outline:1px solid #eaeaea;}
.avatar,.widget .small_post_list img,.additional_posts_module .small_post_list img{float:left;margin:1px;padding:3px;}
#footer .post_grid_image img,#footer .post_list_image img,#footer .framed{background:url(styles/_rgba/black10.png);border:1px solid rgba(255,255,255,.12);padding:2px;outline:none;}
#slider_module .video_frame{border:0;padding:0;outline:0;}
/* galleria */
#body_inner .galleria-thumbnails .galleria-image{background:transparent;border:0;}
#body_inner .galleria-stage{top:5px!important;left:5px!important;right:5px!important;bottom:50px!important;}
#body_inner .galleria-thumbnails-container{bottom:5px!important;left:5px!important;right:5px!important;height:40px!important;}

/* Custom Columns
-------------------------------------------------------------- */
.one_half{width:47.5%;}
.one_third{width:30%;}
.two_third{width:65%;}
.one_fourth{width:21.25%;}
.three_fourth{width:73.75%;}
.one_fifth{width:16%;}
.two_fifth{width:37%;}
.three_fifth{width:58%;}
.four_fifth{width:79%;}
.one_sixth{width:12.5%;}
.five_sixth{width:82.5%;}
.custom_column{position:relative;margin:0;float:left;}
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{position:relative;margin-right:5%;margin-bottom:20px;float:left;}

/*
===============================================================================================================
02. STRUCTURE
=============================================================================================================== */

body{position:relative;min-width:998px;}
#body_inner{position:relative;min-width:998px;}
#header_inner,#intro_inner,#breadcrumbs_inner,#content_inner,#outro_inner,#footer_inner,#sub_footer_inner{position:relative;width:960px;margin:0 auto;}

/* Custom Backgrounds
-------------------------------------------------------------- */
body.has_custombg>.multibg>.multibg,body.has_custombg>.multibg{display:none;}
.has_fullbg #body_inner{background:url(styles/_rgba/black10.png);background:rgba(0,0,0,.1);margin:0 auto;padding:0 5px;width:1040px;}

/* Header
-------------------------------------------------------------- */
#header{position:relative;height:100px;background:url(images/header.png) repeat-x center top;}
.has_slider #header{height:92px;}
#header_extras{color:#aaa;font-size:10px;position:absolute;top:15px;right:0;}
.header_links{float:left;text-transform:uppercase;font-size:9px;padding:2px 0 3px;}
.header_links ul{list-style:none;padding:0;margin:0;}
.header_links li{float:left;padding-right:12px;}
.header_links li ul{float:right;margin-right:0px;}
.header_social{float:right;padding-left:5px;}
.header_social .social_icon{float:left;padding-left:5px;}
.header_text{padding-top:2px;float:left;}
.logo{left:0;position:absolute;top:26px;display:block;font-size:32px;}

/* Intro & Breadcrumbs
-------------------------------------------------------------- */
#intro{background:url(images/intro_bottom.png) repeat-x center bottom #e6e6e6;position:relative;overflow:hidden;}
#intro_inner{padding:30px 0;}
#intro .teaser,#intro h3{line-height:30px;font-size:22px;}
#intro .teaser{margin-bottom:0;min-height:57px;min-width:200px;overflow:hidden;padding:10px 0;}
#intro .tweet{display:block;min-height:50px;background:url(images/sprite2.png) no-repeat -190px -130px;line-height:100%;margin-bottom:0;padding-left:65px;}
#intro h3{margin-bottom:0;padding:10px 0;}
#intro .call_to_action{font-size:28px;letter-spacing:0;margin-top:10px;}
#breadcrumbs{color:#aaa;font-size:10px;letter-spacing:1px;font-family:tahoma;padding-left: 2px;}
#breadcrumbs a{color:#bbb;}
#breadcrumbs .delimiter{color:#ccc;padding:0 4px;}
/* Image Banner Intros */
.has_image_banner #intro_inner{margin:0 auto;padding:0;width:auto;}
.image_banner_intro .image_banner{width:100%!important;height:auto!important;vertical-align:bottom;margin-bottom:2px;}
#intro .image_banner_intro .intro_title{background:#eee;border-bottom:1px solid #fff;left:0;margin:0;position:absolute;right:0;text-align:center;width:auto;color:#444;padding:10px 40px;border-radius:0;}

/* Content
-------------------------------------------------------------- */
#content{background:url(images/content_top.png) repeat-x scroll center -11px #F9F9F9;padding-top:10px;padding-bottom:40px;}
#main{margin-top:40px;min-height:250px;}
#sidebar{margin-top:10px;min-height:300px;position:relative;}
.right_sidebar #main{float:left;width:648px;}
.right_sidebar #sidebar{float:left;width:312px;}
.right_sidebar #main_inner{margin-right:25px;position:relative;}
.right_sidebar #sidebar_inner{position:relative;padding-left:25px;margin-top:30px;margin-bottom:30px;background:url(images/sidebar_middle.png) 0 0 repeat-y;}
.right_sidebar .sidebar_top{background:url(images/sidebar_top.png) no-repeat scroll 0 0 transparent;height:30px;left:0;position:absolute;top:0;width:100%;}
.right_sidebar .sidebar_bottom{background:url(images/sidebar_bottom.png) 0 bottom no-repeat;position:absolute;bottom:0;left:0;height:30px;width:100%;}
.left_sidebar #main{float:right;width:720px;}
.left_sidebar #sidebar{float:right;width:240px;}
.left_sidebar #main_inner{margin-left:38px;position:relative;}
.left_sidebar #sidebar_inner{position:relative;padding-right:25px;margin-top:30px;margin-bottom:30px;background:url(images/sidebarL_middle.png) right top repeat-y;}
.left_sidebar .sidebar_top{background:url(images/sidebarL_top.png) no-repeat scroll right top transparent;height:30px;left:0;position:absolute;top:0;width:100%;}
.left_sidebar .sidebar_bottom{background:url(images/sidebarL_bottom.png) right bottom no-repeat;position:absolute;bottom:0;left:0;height:30px;width:100%;}

/* Footer
-------------------------------------------------------------- */
#outro{background:#f9f9f9;}
#outro_inner{padding:20px 0;}
#outro p{font-size:18px;margin-bottom:0;padding:10px 0;letter-spacing:.25px;line-height:25px;}
#footer{position:relative;overflow:hidden;}
#footer_inner{padding-top:35px;padding-bottom:20px;}
#sub_footer{background:#000;border-top:1px solid #151515;min-height:30px;padding-top:10px;overflow:hidden;}
#sub_footer a:hover{text-decoration:none;}
.copyright_text{float:left;}
.footer_links{float:right;}
.footer_links li{float:left;padding-right:12px;}
.footer_links ul{list-style:none;padding:0;margin:0;}
.footer_links ul ul{float:right;margin-right:0px;}
.no_footer #footer{display:none;}

/* Squeeze Page
-------------------------------------------------------------- */
.squeeze_page #body_inner{background:url(styles/_rgba/black10.png);background:rgba(0,0,0,.1);margin:10px auto;padding:5px;width:800px;min-width:800px;}
.squeeze_page #header_inner,.squeeze_page #intro_inner,.squeeze_page #content_inner,.squeeze_page #sub_footer_inner{width:auto!important;padding-left:50px;padding-right:50px;}
.squeeze_page .logo{position:relative;text-align:center;}
.squeeze_page.has_image_banner #intro_inner{padding:0;}

/*
===============================================================================================================
03. Menu
=============================================================================================================== */

#primary_menu{position:absolute;top:10px;right:0;}
#header_extras+#primary_menu{top:30px;}
.jqueryslidemenu{position:relative;text-transform:uppercase;height:40px;z-index:2000;}
.jqueryslidemenu ul{position:relative;float:right;margin:0;padding:0;list-style-type:none;}
.jqueryslidemenu li{position:relative;display:inline;float:left;}
.jqueryslidemenu a{display:block;padding:10px 10px;text-decoration:none;height:50px;line-height:48px;overflow:hidden;padding:0 12px;overflow:visible;}
.jqueryslidemenu a:hover{text-decoration:none;}
.jqueryslidemenu li a:hover .menu_arrow,.jqueryslidemenu li:hover a .menu_arrow{border-bottom:10px solid;border-left:10px solid transparent !important;border-right:10px solid transparent !important;width:0 !important;display:block;padding:0;margin:-7px auto 0;position:relative;}
.jqueryslidemenu ul ul{position:absolute;left:0px;display:block;visibility:hidden;padding-top:1px;padding-bottom:2px;border-top:1px solid rgba(255,255,255,.3);}
.jqueryslidemenu ul ul li{display:list-item;float:none;}
.jqueryslidemenu ul ul a{width:152px;padding:6px 13px;margin:0;height:100%;line-height:20px;}
.jqueryslidemenu ul ul a:hover{background:#222;color:#eee;background:url(styles/_rgba/black30.png) repeat 0 0;}
.jqueryslidemenu ul ul ul{margin-top:-2px;z-index:2001;}
.jqueryslidemenu small{display:none;}
/* optional */
.jqueryslidemenu ul ul{border-top:1px solid rgba(255,255,255,.15);background:url(styles/_rgba/black10.png) 0 0 repeat;}
.jqueryslidemenu li a:hover .menu_arrow,.jqueryslidemenu li:hover a .menu_arrow{z-index:2002;}
.ie .jqueryslidemenu ul ul{border-left:1px solid transparent;border-right:1px solid transparent;}

/*
===============================================================================================================
04. POST LISTS & GRIDS
=============================================================================================================== */

.post_title{margin-bottom:0px;padding-bottom:18px;}
.post_title a{color:#333;}

/* Specific Layouts
-------------------------------------------------------------- */
.single_post_module .post_title,
.blog_layout1 .post_title,
.blog_layout2 .post_title,
.blog_layout3 .post_title,
.large_post_list .post_title,
.medium_post_list .post_title,
.one_column_blog .post_title,
.two_column_blog .post_title,
.three_column_blog .post_title{background:url(images/line.gif) repeat-x center bottom;}
.single_post_module .post_meta,
.blog_layout1 .post_meta,
.blog_layout2 .post_meta,
.blog_layout3 .post_meta,
.large_post_list .post_meta,
.medium_post_list .post_meta,
.one_column_blog .post_meta,
.two_column_blog .post_meta,
.three_column_blog .post_meta{background:url(images/line.gif) repeat-x center bottom;}
.single_post_module .post_title,
.blog_layout1 .post_title,
.blog_layout2 .post_title,
.blog_layout3 .post_title{font-size:24px;line-height:30px;}
.portfolio .post_title,.portfolio .post_meta,.single_post_module .portfolio .post_title{background-image:none;}
.portfolio .date{color:#aaa;font-size:10px;line-height:15px;text-transform:uppercase;}
.portfolio .post_title+.date{margin-top:-10px;}
.right_sidebar .blog_layout3 .one_half .meta_category,
.left_sidebar .blog_layout3 .one_half .meta_category{display:none;} 
.small_post_list .post_title a{color:#888;font-size:15px;}

/* Meta
-------------------------------------------------------------- */
.post_meta{color:#aaa;font-family:Tahoma,Geneva,Arial,sans-serif;font-size:10px;letter-spacing:1px;margin-bottom:20px;padding:4px 1px 8px;}
.post_meta a{text-transform:uppercase;word-spacing:-1px;}
.post_meta em{font-style:normal;}
.post_meta_bottom{font-size: 10px;margin:20px 0 40px;font-style:italic;}
.post_meta_bottom em{font-style:normal;font-weight:bold;text-transform:uppercase;}
.post_meta_bottom span{padding-right:20px;}
.post_meta+.post_grid_image{margin-top:-2%;}

/*
===============================================================================================================
05. SINGULAR POSTS
=============================================================================================================== */

/* Post Images 
-------------------------------------------------------------- */
.infocus_shadow_bottom,.infocus_shadow_top{border:none!important;outline:none!important;background-color:transparent!important;padding:0!important;width:100% !important;display:block;margin:0;opacity:.9;}
.single_post_image{margin-bottom:10px!important;margin-top:-10px;}
.post_grid_image img,.post_list_image img,.single_post_image img{vertical-align:bottom;}
.post_grid_module,.post_list_module{margin-bottom:40px;}
.post_grid_image{text-align:center;}

/* Single Post Module
-------------------------------------------------------------- */
.single_post_module{margin-bottom:30px;}
.single_post_image{margin-bottom:20px;display:block;}
.single_post_content{position:relative;}

/* Post Nav Module
-------------------------------------------------------------- */
.post_nav_module{margin-bottom:30px;overflow:hidden;}
.previous_post{float:left;}
.next_post{text-align:right;}

/* Share This Module
-------------------------------------------------------------- */
.share_this_module{margin-bottom:10px;padding:4px 25px;position:relative;background:url(images/share_this_bg.png) repeat-x 0 0 #e9e9e9;}
.full_width .share_this_module{max-width:500px;}
.share_this_title{position:absolute;text-indent:-99999px;background:url(images/sprite2.png) no-repeat -10px -68px #888;height:38px;top:10px;width:100px;}
.share_this_content{padding-left:112px;height:50px;}
.post_sociable{background:#888;}

/* About Author Module
-------------------------------------------------------------- */
.about_author_module{margin-bottom:50px;padding:26px;position:relative;overflow:hidden;background:url(images/about_author_bg.png) repeat-x 0 0 #e9e9e9;}
.about_author_title{text-indent:-99999px;background:url(images/sprite2.png) no-repeat -10px -127px #888;height:40px;left:132px;position:absolute;top:25px;width:95px;}
.author_bio{overflow:hidden;padding-top:50px;color:#888;}
.author_name{font-weight:bold;}
.author_name:after{content:" - ";}
.about_author_module .avatar{float:left;padding:0;margin:0;border:1px solid #888;margin-right:28px;}
.about_author_module .fancy_link{display:block;}

/* Blog Tabs
-------------------------------------------------------------- */
.blog_tabs_container{background:url(images/line.gif) repeat-x center top;}
.blog_tabs{height:34px;padding:0;margin:0;list-style-type:none;background:url(images/line.gif) repeat-x center bottom;}
.blog_tabs li{float:left;padding:0;margin:0;list-style-type:none;}
.blog_tabs a{display:block;font-family:tahoma;font-size:10px;letter-spacing:1px;margin-right:30px;padding:8px 1px 4px;position:relative;text-decoration:none;text-transform:uppercase;}
.blog_tabs a:hover{color:#888;text-decoration:none;}
.blog_tabs a.current{color:#666;cursor:default;border-top: 2px solid;padding: 6px 1px 4px;}
.blog_tabs_content{display:none;padding-top:30px;}

/* Additional Posts Module
-------------------------------------------------------------- */
.additional_posts_module{margin-bottom:50px;}
.share_this_module+.additional_posts_module{margin-top:60px;}
.additional_posts_module .post_grid_image{margin-bottom:10px;}
.additional_posts_module .post_grid_module,.additional_posts_module .one_fourth{margin-bottom:0;}

/* Threaded Comments
-------------------------------------------------------------- */
#comments{margin-top:50px;clear:both;margin:45px 0 5px 0;}
.comment-text{color:#888;left:25px;margin:10px 0;min-height:90px;overflow:hidden;padding-right:40px;padding-top:8px;position:relative;text-shadow:1px 1px 1px #FFFFFF;}
.commentlist{margin:0 0 20px 0;padding-left:0;}
.commentlist li{background:url(images/comment_bubble.gif) 0px 15px no-repeat;list-style-image:none;list-style-position:outside;list-style-type:none;padding:20px 0;overflow:hidden;clear:both;}
.commentlist li li{margin-left:20px;}
.children{padding:0;}
.awaiting_moderation{background:#fff;border:1px solid #eee;display:inline-block;font-size:10px;margin-bottom:10px;padding:0 10px;}
.commentmetadata,.commentlist .reply{float:left;font-size:10px;margin-right:5px;text-transform:lowercase;}
.comment-author{float:left;overflow:hidden;width:90px;line-height:16px;}
.comment-author cite{display:inline-block;font-style:normal;padding-left:2px;padding-top:5px;text-transform:capitalize;color:#666;font-size:12px;}
.comment-author .date{padding-left:2px;color:#bbb;font-size:9px;line-height:15px;text-transform:uppercase;display:block;}
.trackbacks_pingbacks.commentlist li{background:none;padding:10px 0;}
.comment-text li{background:none;border:none!important;padding:2px;margin:0;}
.comment-text ol li{list-style:decimal;overflow:visible;}

/* Reply Form
-------------------------------------------------------------- */
#commentform{padding-top:20px;}
#respond{clear:both;padding-top:20px;}
#respond h3{margin-bottom:0px;}
#cancel-comment-reply-link{color:#bbb;font-size:9px;padding-left:2px;text-transform:uppercase;line-height:15px;}
#cancel-comment-reply-link:hover{text-decoration:none!important;}

/*  
===============================================================================================================
06. WIDGETS & SHORTCODE OVERRIDES
=============================================================================================================== */

#sidebar .widget,#footer .widget{clear:both;padding:0 0 40px 0;overflow:hidden;position:relative;}
.widget ul{margin:0;padding:0;list-style:none;}
.widget a:hover{text-decoration:none;}
.widgettitle{margin-bottom:20px;padding-bottom:18px;}
#sidebar .widgettitle{line-height:30px;}
#sidebar .mysite_testimonial_widget,#footer .mysite_testimonial_widget{padding:0;}
.widget .post_list_module{margin-bottom:0;}
/* Footer */
#footer .widget{padding:0 0 20px 0;}
#footer .widget .activation_link_list{margin-top:-20px;}
#footer .avatar,
#footer .flickr_badge_image img,
#footer .post_grid_image img,
#footer .post_list_image img,
#footer .framed{
outline:none;background:rgba(200,200,200,.2);border:1px solid rgba(200,200,200,.2);padding:3px;box-shadow:0 0 1px rgba(0,0,0,0.3);}
#footer a{opacity:1!important;}
#footer .activation_link_list a, 
#footer .mysite_twitter_widget a, 
#footer .widget_categories a, 
#footer .widget_links a, 
#footer .widget_archive a, 
#footer .widget_meta a,
#footer .mysite_subnav_widget a,
#footer .widget_nav_menu a,
#footer .widget_pages a,
#footer .widget_recent_entries a{opacity:.8!important;}
#footer .widget a:hover{opacity:1!important;}

/* Pre
-------------------------------------------------------------- */
.fancy_pre_box{background:url(images/form-gradient.gif) repeat-x -1px -2px #F9F9F9;border-color:#D9D9D9 #EAEAEA #FFFFFF;color:#666;}
.fancy_code_box{background:url(images/code.png) repeat 0 1px #F6F6F6;border-color:#ddd;}

/* Popular/Related/Recent Posts
-------------------------------------------------------------- */
.small_post_list .post_title{padding-bottom:0;}
#sidebar .small_post_list .post_list_module{margin-bottom:0;}

/* Shared Widget Styles
-------------------------------------------------------------- */
#sidebar .mysite_twitter_widget li{padding-left:0!important;} 
#footer table{background:#f9f9f9;}
#sidebar .widgettitle,h6,td,th,.single_post_content .post_meta,.single_post_content .post_title{background:url(images/line.gif) repeat-x center bottom;}
#sidebar .activation_link_list li,
#sidebar .post_list_module,
#sidebar .mysite_twitter_widget li, 
#sidebar .widget_categories li, 
#sidebar .widget_links li, 
#sidebar .widget_archive li, 
#sidebar .widget_meta li,
#sidebar .mysite_subnav_widget li,
#sidebar .widget_nav_menu li,
#sidebar .widget_pages li,
#sidebar .widget_recent_entries li{padding-top:5px;padding-bottom:7px;background:url(images/line.gif) repeat-x center bottom;}
#footer .widgettitle,#footer .widget li{text-shadow:none;border-bottom:1px solid #333;}
#footer .widget_pages li,#footer .widget_nav_menu li,#footer .widget_categories li{border-bottom:none;padding:0;}
#footer .widget_categories a,#footer .widget_nav_menu a,#footer .widget_pages a{border-bottom:1px solid #333;display:block;padding:5px 0;}
#sidebar .activation_link_list,
#sidebar .mysite_popular_widget>ul,#footer .mysite_popular_widget>ul,
#sidebar .mysite_recent_widget>ul,#footer .mysite_recent_widget>ul,
#sidebar .mysite_twitter_widget>ul,#footer .mysite_twitter_widget>ul,
#sidebar .widget_recent_comments>ul,#footer .widget_recent_comments>ul,
#sidebar .widget_recent_entries>ul,#footer .widget_recent_entries>ul,
#sidebar .widget_categories>ul,#footer .widget_categories>ul,
#sidebar .widget_links>ul,#footer .widget_links>ul,
#sidebar .widget_archive>ul,#footer .widget_archive>ul,
#sidebar .widget_meta>ul,#footer .widget_meta>ul,
#sidebar .mysite_subnav_widget>ul,#footer .mysite_subnav_widget>ul,
#sidebar .widget_nav_menu .menu,#footer .widget_nav_menu .menu,
#sidebar .widget_pages>ul,#footer .widget_pages>ul{margin-top:-20px;}
#sidebar .activation_link_list a, 
#sidebar .mysite_twitter_widget a, 
#sidebar .widget_categories a, 
#sidebar .widget_links a, 
#sidebar .widget_archive a, 
#sidebar .widget_meta a,
#sidebar .mysite_subnav_widget a,
#sidebar .widget_nav_menu a,
#sidebar .widget_pages a,
#sidebar .widget_recent_entries a{background:url(images/shortcodes/sprites/custom_sprite_dddddd.png) no-repeat -308px -321px;padding-left:20px;text-shadow:1px 1px 1px #fff;}
#sidebar .widget_pages li li,#sidebar .widget_nav_menu li li,#sidebar .widget_categories li li{background:url(images/line.gif) repeat-x center top;}
#sidebar .widget_pages li li a,#sidebar .widget_nav_menu li li a, #sidebar .widget_categories li li a{margin-left:20px;}

/* Search
-------------------------------------------------------------- */
#searchform div{background:url(images/searchbar.png) no-repeat left top;height:28px;margin-top:5px;overflow:hidden;width:288px;}
#searchform #s{background:none;border:0;float:left;height:25px;margin:0;padding:4px 0 0 14px;width:232px;color:#666;}
#searchform #s:focus{background:transparent url(images/searchbar.png) no-repeat left -30px;outline:none;}
#searchform #searchsubmit{background:transparent url(images/searchbar.png) no-repeat right 0;border:0 none;cursor:pointer;float:left;text-indent:-99999px;height:30px;margin:0;padding:0;width:42px;border:0 none !important;box-shadow:none !important;}
#searchform #searchsubmit:hover{background-position:right -30px;}

/* Twitter Widget
-------------------------------------------------------------- */
.mysite_twitter_widget{position:relative;overflow:visible;}
.mysite_twitter_widget li{background:none;padding-left:0;}
.mysite_twitter_widget a{background:url(images/shortcodes/sprites/custom_sprite_dddddd.png) no-repeat -380px -239px;padding-left:26px;}
#sidebar .twitter_bird{background:url(images/shortcodes/sprites/custom_sprite_dddddd.png) no-repeat -7px -268px;height:54px;position:absolute;right:0;top:2px;width:54px;display:block;}

/* Tag Cloud
-------------------------------------------------------------- */
.widget_tag_cloud a{padding:4px;}
#content .widget_tag_cloud a:hover,#content .widget_tag_cloud a:active{text-shadow:1px 1px 1px #fff;}

/* Calendar & Other Tables
-------------------------------------------------------------- */
table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #eaeaea;margin-bottom:18px;}
table,td,th {vertical-align:middle;}
th{padding:10px;color:#666;border-top:1px solid #fff;text-transform:uppercase;}
td{padding:10px;color:#888;}
tfoot td{border:0px;}
th,tr:hover{background-color:#f5f5f5;}
#wp-calendar{border-collapse:separate;font-size:12px;}
#wp-calendar th{padding:10px;color:#666;border-top:1px solid #fff;text-transform:uppercase;font-weight:bold;}
#wp-calendar td{padding:10px;color:#888;}
.widget_calendar tfoot td{background-image:none;}
.widget_calendar a{text-decoration:underline;}
#wp-calendar,#wp-calendar th{ border-color: #2E353D;}

/* Recent Comments
-------------------------------------------------------------- */
#sidebar .recentcomments span{background:url(images/shortcodes/sprites/custom_sprite_dddddd.png) no-repeat -380px -243px transparent;padding-left:26px !important;}
#sidebar .recentcomments {padding:4px 0 8px;}
#sidebar .recentcomments{padding-left:0!important;}
.wp-pagenavi .pagenavi-page:hover{background:#f9f9f9 url(images/form-gradient.gif) repeat-x -1px -2px;border-color:#d9d9d9 #eaeaea #fff;color:#666;}

/* jCarousel
-------------------------------------------------------------- */
.mysite_jcarousel_blog .post_grid_image img,.mysite_jcarousel_blog .video_frame,
.mysite_jcarousel_portfolio .post_grid_image img,.mysite_jcarousel_portfolio .video_frame{margin-left:1px;margin-right:1px;padding:3px;}
.mysite_jcarousel_text{width:21.25%!important;margin-right:5%!important;}
.mysite_jcarousel_text+.blog_clip,.mysite_jcarousel_text+.portfolio_clip{width:73.75%!important;}

/*
===============================================================================================================
07. SLIDERS
=============================================================================================================== */

#slider_module{background:url(images/sliders/full.png) repeat-x center bottom;height:400px;position:relative;clear:both;width:100%;overflow:hidden;}
#slider_module_inner{margin:0 auto;width:960px;}
/* Fading */
#mysite_fading_slider{margin-left:-120px;position:relative;width:1200px;height:400px;}
.single_fading_slide{width:1200px;height:100%;position:absolute;top:0;left:0;overflow:hidden;}
/* Scrolling */
#mysite_scrolling_slider{overflow:hidden;margin-left:-120px;position:relative;width:1200px;height:400px;}
#scrolling_slides{width:9999em;position:absolute;height:100%;}
.single_scrolling_slide{float:left;position:relative;width:1200px;height:100%;overflow:hidden;}
/* Nivo */
#mysite_nivo_slider{margin:0 auto;padding-top:20px;width:960px;}
.nivo_slider #slider_module_inner{background:url(images/sliders/staged.png) bottom center no-repeat;height:400px;overflow:hidden;}
#mysite_nivo_slider .nivo-controlNav{position:absolute;text-align:center;top:355px;width:100%;padding:0;}
#mysite_nivo_slider .nivo-controlNav a{float:none;display:inline-block;background:url(images/sliders/nav_dots_sprite.png) 0px 0px no-repeat;}
#mysite_nivo_slider .nivo-controlNav a.active{background-position:0 -34px;}

/* Slider Nav
-------------------------------------------------------------- */
.slider_nav{z-index:1001;}
.slider_nav a{margin-right:10px;margin-top:10px;margin-bottom:10px;display:inline-block;line-height:0px;font-size:1px;}
/* Nav Thumbs */
.slider_nav_thumb .slider_nav{position:absolute;background:url(styles/_rgba/black50.png) repeat 0 0;padding:0 10px;left:120px;bottom:40px;opacity:0;height:0;overflow:hidden;
-webkit-transition:height .3s ease,opacity .3s ease;
-moz-transition:height .3s ease,opacity .3s ease;
-o-transition:height .3s ease,opacity .3s ease;
transition:height .3s ease,opacity .3s ease;}
.slider_nav_thumb .slider_nav img{border:1px solid rgba(0,0,0,0.2)}
.slider_nav_thumb #slider_module_inner:hover .slider_nav{opacity:1;height:56px;}
.slider_nav_thumb .slider_nav a{opacity:.6;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-o-transition:all .5s ease;
transition:all .5s ease;}
.slider_nav_thumb .slider_nav a:hover{opacity:1;}
.slider_nav_thumb .raw_html .slider_nav,
.slider_nav_thumb .full_slide .slider_nav{width:940px;bottom:0;}
.slider_nav_thumb .floating_slide .slider_nav{width:940px;}
.slider_nav_thumb .staged_slide .slider_nav{width:940px;}
.slider_nav_thumb .overlay_slide .slider_nav{width:400px;}
.slider_nav_thumb .partial_staged_slide .slider_nav{width:580px;left:480px;}
.slider_nav_thumb .partial_staged_slideL .slider_nav{width:580px;}
.slider_nav_thumb .partial_gradient_slide .slider_nav{width:580px;left:480px;}
.slider_nav_thumb .raw_html.vimeo_slide .slider_nav,
.slider_nav_thumb .full_slide.vimeo_slide .slider_nav{top:0px;}
.slider_nav_thumb .floating_slide.vimeo_slide .slider_nav,
.slider_nav_thumb .staged_slide.vimeo_slide .slider_nav,
.slider_nav_thumb .overlay_slide.vimeo_slide .slider_nav,
.slider_nav_thumb .partial_gradient_slide.vimeo_slide .slider_nav,
.slider_nav_thumb .partial_staged_slide.vimeo_slide .slider_nav,
.slider_nav_thumb .partial_staged_slideL.vimeo_slide .slider_nav{top:20px;}
/* Nav Dots */
.slider_nav_dots .slider_nav{bottom:0;height:25px;margin:0 auto;position:absolute;text-align:center;z-index:100;width:100%;}
.slider_nav_dots .slider_nav a{width:20px;height:20px;margin:0px;background:url(images/sliders/nav_dots_sprite.png) 0px 0px no-repeat transparent;display:inline-block;font-size:1px;}
.slider_nav_dots .slider_nav a:hover{opacity:.7;}
.slider_nav_dots .slider_nav .current{background-position:0 -34px;}

/* Stageing Effects
-------------------------------------------------------------- */
.slide_title{color:#999;}
.slide_overlay{z-index:3;position:absolute;}
#slider_module .video_frame{position:relative;z-index:10;}
.slide_content{z-index:4;position:absolute;font-size:14px;line-height:25px;color:#aaa;width:330px;height:315px;top:45px;left:160px;overflow:hidden;}
.positioning{z-index:1;float:right;margin-top:20px;margin-right:120px;}
/* Legacy */
.full_slide,.partial_gradient_slide,.partial_staged_slide,.floating_slide,.overlay_slide,.staged_slide{background-position:bottom center;}
/* Full/Raw */
#slider_module_inner .raw_html .slide_content{height:100%;width:100%;top:0;left:0;}
#slider_module_inner .raw_html .positioning{margin-top:0;}
#slider_module_inner .full_slide .slide_content{width:880px;}
#slider_module_inner .full_slide .positioning{margin-top:0;}
/* Floating */
#slider_module_inner .floating_slide{background:url(images/sliders/floating.png) bottom center no-repeat;}
/* Staged */
#slider_module_inner .staged_slide{background:url(images/sliders/staged.png) no-repeat center bottom;}
/* Overlay */
#slider_module_inner .overlay_slide{background:url(images/sliders/staged.png) center bottom no-repeat;}
#slider_module_inner .overlay_slide .slide_overlay{background:url(styles/_rgba/black80.png) repeat 0 0;height:340px;left:120px;top:20px;width:420px;}
#slider_module_inner .overlay_slide .slide_title{color:#fff;}
/* Partial Staged */
#slider_module_inner .partial_staged_slide .slide_overlay{background:url(images/sliders/partial_staged.png) bottom center no-repeat;top:20px;right:120px;width:600px;height:358px;}
#slider_module_inner .partial_staged_slide .slide_content{top:35px;left:120px;}
#slider_module_inner .partial_staged_slide .slide_title{color:#fff;}
/* Partial Staged Left */
#slider_module_inner .partial_staged_slideL .slide_overlay{background:url(images/sliders/partial_staged.png) bottom center no-repeat;top:20px;left:120px;width:600px;height:358px;}
#slider_module_inner .partial_staged_slideL .positioning{float:left;margin-left:120px;}
#slider_module_inner .partial_staged_slideL .slide_content{top:35px;left:auto;right:120px;}
#slider_module_inner .partial_staged_slideL .slide_title{color:#fff;}
/* Partial Gradient */
#slider_module_inner .partial_gradient_slide{background:url(images/sliders/staged.png) bottom center no-repeat;}
#slider_module_inner .partial_gradient_slide .slide_overlay{background:url(images/sliders/partial_staged.png) bottom center no-repeat;top:20px;right:120px;width:600px;height:358px;}
#slider_module_inner .partial_gradient_slide .slide_content{width:285px;color:#888;}
#slider_module_inner .partial_gradient_slide .slide_title{color:#444;}

/*
===============================================================================================================
08. PROGRESSIVE ENHANCEMENTS
=============================================================================================================== */

/* Border Radius
-------------------------------------------------------------- */
.share_this_module,.about_author_module{
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;}
.textfield,.password,.textarea,#s,#comment {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;}
.intro_title,.fancy_button,.button_link,#searchsubmit,.post_more_link {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;}
	
/* Box Shadow
-------------------------------------------------------------- */
.share_this_module,.about_author_module{
-webkit-box-shadow:0 1px 0 #fff inset,0 -1px 0 #d6d6d6 inset,1px 0 0 rgba(0,0,0,.02) inset,-1px 0 0 rgba(0,0,0,.02) inset;
-moz-box-shadow:0 1px 0 #fff inset,0 -1px 0 #d6d6d6 inset,1px 0 0 rgba(0,0,0,.02) inset,-1px 0 0 rgba(0,0,0,.02) inset;
box-shadow:0 1px 0 #fff inset,0 -1px 0 #d6d6d6 inset,1px 0 0 rgba(0,0,0,.02) inset,-1px 0 0 rgba(0,0,0,.02) inset;}
.intro_title,.fancy_button,.button_link,#searchsubmit,.post_more_link {
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3),1px 0 0 rgba(255,255,255,0.05) inset,-1px 0 0 rgba(255,255,255,0.05) inset;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3),1px 0 0 rgba(255,255,255,0.05) inset,-1px 0 0 rgba(255,255,255,0.05) inset;
box-shadow: 0 1px 2px rgba(0,0,0,0.3),1px 0 0 rgba(255,255,255,0.05) inset,-1px 0 0 rgba(255,255,255,0.05) inset;}
.small_button,.post_more_link,#submit {
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.5),1px 0 0 rgba(255,255,255,0.05) inset,-1px 0 0 rgba(255,255,255,0.05) inset;
-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.5),1px 0 0 rgba(255,255,255,0.05) inset,-1px 0 0 rgba(255,255,255,0.05) inset;
box-shadow: 0 1px 0 rgba(0,0,0,0.5),1px 0 0 rgba(255,255,255,0.05) inset,-1px 0 0 rgba(255,255,255,0.05) inset;}
.jqueryslidemenu ul ul {
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.4);
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.4);
box-shadow: 1px 2px 3px rgba(0,0,0,.4);}

/* Transitions
-------------------------------------------------------------- */
.jqueryslidemenu ul ul a {opacity: 1;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;}

/*
===============================================================================================================
09. RESPONSIVENESS & MOBILE
=============================================================================================================== */

/* Responsive Slider
-------------------------------------------------------------- */
.mysite_responsive #slider_module{background-size:auto 100%;}
.mysite_responsive .flexslider{box-shadow:0 10px 20px rgba(0,0,0,0.6);margin-top:20px;margin-bottom:40px;border-radius:0;border:none;background:none;}
.slider_content_left .flexslider,
.slider_content_right .flexslider{width:600px;}
.mysite_responsive .flexslider_content{font-size:14px;color:#eee;}
.mysite_responsive .flex-direction-nav li .flex-prev {left:-16px;}
.mysite_responsive .flex-direction-nav li .flex-next {right:-16px;}
.mysite_responsive .flex-control-nav li{margin:0;}
.mysite_responsive .flex-control-nav li a{width:20px;height:20px;background:url(images/sliders/nav_dots_sprite.png) 0 0 no-repeat transparent;}
.mysite_responsive .flex-control-nav li a:hover{background-position:0 0;opacity:.7;}
.mysite_responsive .flex-control-nav li a.flex-active{background-position:0 -34px;}

/* Responsive Menu
-------------------------------------------------------------- */
.mysite_responsive #responsive_menu{margin:40px auto 20px;
background:-webkit-linear-gradient(top,rgba(255,255,255,0.07),rgba(255,255,255,0.01));
background:-moz-linear-gradient(top,rgba(255,255,255,0.07),rgba(255,255,255,0.01));
background:-o-linear-gradient(top,rgba(255,255,255,0.07),rgba(255,255,255,0.01));
background:linear-gradient(top,rgba(255,255,255,0.07),rgba(255,255,255,0.01));
box-shadow:0 1px 2px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.2) inset;}
.mysite_responsive #responsive_menu .select,
.mysite_responsive #responsive_menu .mysite_message{background:url(images/select_menu.png) right center no-repeat;text-indent:20px;color:#fff;}

/* Media Queries
-------------------------------------------------------------- */

@media screen and (max-width: 1050px){
.mysite_responsive.has_fullbg #body_inner{padding:0;width:100%!important;min-width:0!important;}
}
@media screen and (max-width: 998px){
.mysite_responsive,
.mysite_responsive #body_inner{width:100%!important;min-width:100%!important;}
.mysite_responsive.squeeze_page #body_inner{max-width:800px;min-width:0!important;}
.mysite_responsive.has_image_banner #intro_inner{width:100%;}
.mysite_responsive #header_inner,
.mysite_responsive #slider_module_inner,
.mysite_responsive #intro_inner,
.mysite_responsive #breadcrumbs_inner,
.mysite_responsive #content_inner, 
.mysite_responsive #outro_inner, 
.mysite_responsive #footer_inner, 
.mysite_responsive #sub_footer_inner{width:90%;position:relative;}
.mysite_responsive .share_this_content{height:auto;}
.mysite_responsive .post_sociable{margin-top:5px;width:40px;}
}
@media screen and (max-width: 830px){
.mysite_responsive.squeeze_page #body_inner{padding:0;margin:0 auto;}
.mysite_responsive.squeeze_page #content_inner{padding-left:20px;padding-right:20px;}
}
@media screen and (max-width:768px){
.mysite_responsive .logo{position:relative;}
.mysite_responsive.has_slider #header,.mysite_responsive #header{height:auto;
background:-webkit-linear-gradient(top,rgba(0,0,0,.2),rgba(0,0,0,.5))!important;
background:-moz-linear-gradient(top,rgba(0,0,0,.2),rgba(0,0,0,.5))!important;
background:-o-linear-gradient(top,rgba(0,0,0,.2),rgba(0,0,0,.5))!important;
background:linear-gradient(top,rgba(0,0,0,.2),rgba(0,0,0,.5))!important;
border-top:8px solid rgba(0,0,0,.01);
border-bottom:2px solid rgba(0,0,0,.4);
box-shadow:0 1px 0 rgba(255, 255, 255, 0.1) inset,0 10px 50px #000;}
.mysite_responsive.squeeze_page #header{box-shadow:none;height:100px;}
.mysite_responsive .infocus_shadow_top,
.mysite_responsive .infocus_shadow_bottom{display:none!important;}
}
@media screen and (max-width:650px){
.mysite_responsive #intro .intro_title{float:none!important;margin-right:0!important;max-width:100%!important;width:auto !important;clear:both!important;}
.mysite_responsive.left_sidebar #sidebar_inner,
.mysite_responsive.right_sidebar #sidebar_inner,
.mysite_responsive.left_sidebar .sidebar_top,
.mysite_responsive.left_sidebar .sidebar_bottom,
.mysite_responsive.right_sidebar .sidebar_top,
.mysite_responsive.right_sidebar .sidebar_bottom{background:none!important;}
.mysite_responsive.left_sidebar #sidebar_inner{padding-right:0;}
.mysite_responsive.right_sidebar #sidebar_inner{padding-left:0;}
.mysite_responsive .additional_posts_module .post_grid_image{text-align:left;}
}
@media screen and (max-width: 480px){
.mysite_responsive .commentlist li ul li{background:none;padding-left:30px;}
.mysite_responsive #comments .avatar{float:left;height:40px;margin-right:20px;width:40px;}
}