/* inFocus v3.0 - blue */

.colorscheme_bg,.wp-pagenavi .current,.paged-navigation .current,
body,body>.multibg>.multibg,#footer,#footer>.multibg>.multibg,
.post_more_link,#intro .intro_title,.jqueryslidemenu ul ul,
.call_to_action_button,.call_to_action_button span,.about_author_module .avatar,
.about_author_title,.share_this_title,.post_sociable,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
background-color:#003da5;}

.call_to_action {background-color:#9df83b;}


.colorscheme_color,h1,#footer a:hover,.post_meta a,
a:hover,.fancy_link,.dropcap2,.pullquote3,.highlight2,h5{/*:Color Scheme*/
color:#00437f;}
.colorscheme_border,.wp-pagenavi .current,.paged-navigation .current,
.blog_tabs a.current,#wp-calendar, #wp-calendar th,
.jqueryslidemenu li a:hover .menu_arrow,.jqueryslidemenu li:hover a .menu_arrow,.about_author_module .avatar,
#footer .widget li,#footer .widget a,#footer .widgettitle,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,.cluetip-default .cluetip-arrows,#sub_footer,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
border-color:#00437f;}
.colorscheme_sprite,#sidebar .twitter_bird,#sidebar .activation_link_list a,
#content .contact_widget_name,#content .contact_widget_phone,#content .contact_widget_email,
#sidebar .mysite_twitter_widget a, #sidebar .widget_categories a, #sidebar .widget_links a, #sidebar .widget_archive a, 
#sidebar .widget_meta a, #sidebar .mysite_subnav_widget a, #sidebar .widget_nav_menu a, #sidebar .widget_pages a, 
#sidebar .widget_recent_entries a,#sidebar .recentcomments span,
.toggle,.toggle_accordion,.active,.toggle_frame .toggle,.toggle_frame .toggle_accordion,.toggle_frame .active,
.fancy_list .arrow_list,.fancy_list .bullet_list,.fancy_list .check_list,.fancy_list .circle_arrow,.fancy_list .triangle_arrow,.fancy_list .comment_list,.fancy_list .minus_list,.fancy_list .plus_list,.fancy_list .star_list,.sitemap_list li,
blockquote,.download_link,.email_link,.twitter_link,.dropcap,.dropcap3,.tabs_vertical li.current span, .featured_tabs li.current_page_item span{/*:Icon Sprite*/
background-image:url(http://roverstrust.co.uk/wp/wp-content/themes/infocus/images/shortcodes/sprites/custom_sprite_00437f.png);}


/*:General Typography ~*~*/
body{/*:Body Font */
color:#666;font-size:14px;font-weight:normal;font-style:normal;font-family: 'Open Sans', sans-serif;}
h1{/*:h1 Font*/ 
color:#e60909;font-size:36px;font-weight:normal;font-style:normal;}
h2{/*:h2 Font*/ 
color:#e60909;font-size:32px;font-weight:normal;font-style:normal;}
h3,.additional_posts_module h4{/*:h3 Font*/ 
color:#003da5;font-size:22px;font-weight:normal;font-style:normal;}
h4{/*:h4 Font*/ 
color:#333;font-size:18px;font-weight:normal;font-style:normal;}
h5{/*:h5 Font*/ 
/*color:#444@;*/font-size:16px;font-weight:normal;font-style:normal;}
h6{/*:h6 Font*/ 
color:#0c95f0;font-size:12px;font-weight:normal;font-style:normal;}
a{/*:Link*/
color:#0c95f0;text-decoration:none;}
a:hover{/*:Link Hover*/
color:#09bce0;text-decoration:underline;}
/*:Typo End ~*~*/


/*:Body ~*~*/
body{/*:Body BG+ */ 
background-image:none;/*background-color:inherit@;*/background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Body End ~*~*/


/*:Header ~*~*/
.logo a{/*:Logo Font*/ 
color:#eee;font-size:32px;font-weight:normal;font-style:normal;}
#header{/*:Header Background */
background-image:url(../images/header.png);background-color:transparent;background-repeat:repeat-x;background-attachment:scroll;background-position:center top;}

.header_links li {font-size:12px;} 
/*:Header End ~*~*/


/*:Menu ~*~*/
.jqueryslidemenu a{/*:Menu Font */
color:#ddd;font-size:14px;font-weight:normal;font-style:normal;font-family:inherit;}
.jqueryslidemenu li a:hover .menu_arrow,.jqueryslidemenu li:hover a .menu_arrow{/*:Menu Dropdown Color*/
/*border-bottom-color:inherit@;*/}
.jqueryslidemenu ul ul{/*:Menu Dropdown Color*/
/*background-color:inherit@;*/}
/*:Menu End ~*~*/


/*:Intro ~*~*/
.call_to_action,#intro .intro_title{/*:Intro Title Font */ 
color:#f9f9f9;font-size:32px;font-weight:normal;font-style:normal;}
#intro .teaser{/*:Intro Description Font */ 
color:#444;font-size:30px;font-weight:normal;font-style:normal;}
#slider_module+#intro h3{/*:Call to Action Font*/ 
color:#444;font-size:24px;font-weight:normal;font-style:normal;}
#breadcrumbs,#breadcrumbs a{/*:Breadcrumbs Font */
color:#ccc;font-size:10px;font-weight:normal;font-style:normal;}
#intro{/*:Intro Background */ 
background-image:url(../images/intro_bottom.png);background-color:#e6e6e6;background-repeat:repeat-x;background-attachment:scroll;background-position:center bottom;}

#intro_inner {width:634px;}
#intro h3 {font-size:30px; line-height:37px;padding:0px;font-weight:bold;}

/*:Intro End ~*~*/


/*:Main Content ~*~*/
#sidebar .widgettitle{/*:Sidebar Titles Font */
color:#777;font-size:22px;font-weight:normal;font-style:normal;}
#content{/*:Content Background */ 
background-image:url(../images/content_top.png);background-color:#F9F9F9;background-repeat:repeat-x;background-attachment:scroll;background-position:center -11px;}

.wp-pagenavi, .paged-navigation {font-size:14px;}
.post_meta {font-size:12px;}
/*:Main End ~*~*/


/*:Outro ~*~*/
#outro,#outro a{/*:Outro Font */
color:#888;font-size:18px;font-weight:normal;font-style:normal;}
#outro{/*:Outro Background */
background-image:url(../images/outro.png);background-color:#e0e0e0;background-repeat:repeat-x;background-attachment:scroll;background-position:center top;}
#outro{/*:Outro Bottom Border */
border-bottom-color:#E8E8E8;border-bottom-width:1px;border-bottom-style:solid;}
/*:Outro End ~*~*/


/*:Footer ~*~*/ 
#footer{/*:Footer Font */
color:#ccc;font-size:14px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer .widgettitle{/*:Footer Titles Font */
color:#eee;font-size:22px;font-weight:normal;font-style:normal;}
#footer a{/*:Footer Links */
color:#ddd;text-decoration:none;}
#footer a:hover{/*:Footer Link Hover */
color:#fff;text-decoration:none;} 
#footer{position:relative;background-image:url(../images/black53.png);background-repeat:repeat;background-position:0 0;}
#footer>.multibg>.multibg{position:absolute;height:339px;width:100%;background-image:url(../images/footer.png);background-repeat:repeat-x;background-position:center top;}
#footer,#footer>.multibg>.multibg{/*:Footer Background Color */
/*background-color:inherit@;*/}
#footer .widgettitle,#footer .widget li,#footer .widget a{/*:Widgets Border Color */
/*border-color:inherit@;*/}
/*:Footer End ~*~*/


/*:Sub Footer ~*~*/
#sub_footer,#sub_footer a{/*:Sub Footer Font */
color:#ccc;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
#sub_footer{/*:Sub Footer Background */
background-image:none;background-color:#000;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Sub Footer End ~*~*/


/*:Misc ~*~*/
.toggle a,.toggle_accordion a{/*:Toggle Title Font*/ 
color:#888;font-size:15px;font-weight:normal;font-style:normal;}
#content .teaser{/*:Content Teaser Font */ 
color:#aaa;font-size:20px;font-weight:normal;font-style:normal;}
/*:Misc End ~*~*/

.gform_wrapper {font-size:16px;}


/* Custom CSS */
#header+#content{background-position:center top;padding-top:20px;}
#footer a{opacity:.8;}
#footer a:hover{opacity:1;}
